.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  a {
    color: #f50057;
  }

  .search-box {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 100px;
  }

  .input {
    padding-left: 5px;
    flex: 1;
    width: 280px;
  }

  .icon-button {
    height: 100%;
    &.left {
      width: 150px;
      border-radius: 100px 0 0 100px;
    }
    &.right {
      border-radius: 0 100px 100px 0;
    }
  }
}

.card {
  width: 19rem;

  .image-card {
    img {
      width: fit-content;
      height: fit-content;
      max-height: 15rem;
      max-width: 15rem;
    }
  }

  .card-body {
    a {
      color: white;
    }

    .card-title {
      overflow: hidden;
      text-overflow: ellipsis;
      height: 4.5rem;
    }
  }
}

.loading {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .linear {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
}
